### Managed by Bounded XDG
# {{ .Name }} {{ index .Ref "Home Page" }}
{{ range $variable := .Variables }}
set --universal --export {{ replace $variable.Name "$" ""  }}  {{ $variable.XdgPath }}
{{ end }}
### Managed by Bounded XDG
